.skills {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
  font-family: "Aref Ruqaa", serif;
}
.skills.dark {
  background-color: #080c14;
}
.skills.dark .title {
  color: white;
}
.skills.dark .description {
  color: #fff;
}
.skills.dark .description h1 p {
  color: #f7f4f4;
}
.skills.dark .areas .slider .card .project-title {
  background-color: #111827;
}
.skills.dark .areas .slider .card .project-title h1 {
  color: #f3f4f6;
}
.skills.light {
  background-color: #fff;
}
.skills.light .title {
  color: #121212;
}
.skills.light .description {
  color: #121212;
  font-weight: 700;
}
.skills.light .description h1 p {
  color: #000000;
}
.skills.light .areas .slider .card .project-title {
  background-color: #f3f4f6;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.4);
}
.skills.light .areas .slider .card .project-title h1 {
  color: black;
  font-weight: 700;
}
.skills.light .slider .slider_container .skill-item {
  background-color: #f3f4f6;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.4);
}
.skills.light .slider .slider_container .skill-item h1, .skills.light .slider .slider_container .skill-item i {
  color: black;
}
.skills.light .btn {
  background-color: rgb(7, 89, 133);
  color: white;
}
.skills.light .btn:hover {
  background: transparent;
  border: 1px solid rgb(7, 89, 133);
  color: rgb(7, 89, 133);
}
.skills.light .btn:hover a {
  color: rgb(7, 89, 133);
}
.skills .title {
  width: 30%;
  text-transform: capitalize;
  color: white;
  text-align: center;
  position: relative;
  margin: 3rem auto;
}
.skills .title::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.3rem;
  background-color: rgb(14, 165, 233);
  top: 50%;
  right: 100%;
  border-radius: 20px;
  transform: translateY(-50%);
}
.skills .title::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.2rem;
  background-color: rgb(14, 165, 233);
  top: 50%;
  left: 100%;
  border-radius: 20px;
  transform: translateY(-50%);
}
.skills .description {
  margin: 2rem auto;
  width: 80%;
  font-size: 1.2rem;
  color: #fff;
  line-height: 3rem;
  text-align: center;
}
.skills .slider {
  margin: auto;
  width: 90%;
  overflow: hidden;
  padding: 60px 0 0 0;
  display: flex;
  gap: 3rem;
}
.skills .slider .slider_container {
  gap: 1rem;
  text-align: center;
  justify-content: center;
  margin: 22px auto;
}
.skills .slider .slider_container .skill-item {
  background-color: #111827;
  width: 12rem;
  height: 12rem;
  flex: 0 0 auto;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.skills .slider .slider_container .skill-item:hover {
  transform: translateY(-10px);
}
.skills .slider .slider_container .skill-item i {
  width: 4rem;
}
.skills .btn {
  background-color: rgb(6, 182, 212);
  padding: 0.5rem 1rem;
  margin: 40px auto;
  display: flex;
  font-size: 21px;
  border: 2px solid transparent;
}
.skills .btn a {
  color: #fff;
}
.skills .btn:hover {
  background: transparent;
  border: 2px solid rgb(6, 182, 212) !important;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideAnimationAr {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}/*# sourceMappingURL=SkillsStyles.css.map */