// $white-1: #fff;
// $white-2: rgba(255, 255, 255, 0.5);
// $white-3: #f3f2f0;
// $white-4: rgba(255, 255, 255, 0.75);
// $black-1: #000;
// $black-2: #331303;
// $grey-1: #777777;
// $purple-1: #755ecc;
// $yellow-1: #ffd80d;
// $yellow-2: #f0b700;
// $yellow-3: #febf47;
// $yellow-4: #ffcd75;
// $yellow-5: rgba(255, 170, 18, 0.72);
// $yellow-6: #fce07f;
// $green-1: rgba(18, 171, 15, 1);
// $blue-1: #399ffe;
// $oranger-1: #fdc927;
// $orange-2: rgba(253, 238, 206, 0.2);
// $orange-3: rgba(253, 238, 206, 0.5);
// $shadow-1: rgba(0, 0, 0, 0.25);
// $overlay: rgba(0, 0, 0, 0.4);
// $overlay-1: rgba(0, 0, 0, 0.9);
//$mainColor:#00ad68;
$blueColor : rgb(14 ,165 ,233);
$textColor : rgb(244, 139 ,28);
$color-dark-0: #090b10;
$color-dark-2: #18202b;
$color-white: #fff;
$color-grey-1: #f3f4f6;
$color-grey-2: #d1d5db;
$color-grey-3: #9ca3af;
$color-dark-0: #080c14;
$color-dark-1: #111827;
$color-dark-2: #1f2937;
$color-dark-3: #374151;
$color-dark-4: #6b7280;
$light_bg : rgb(255 255 255);
$dark_bg : rgb(8 12 20 / 91%);


$primary : #1f3e72;
$secondary : rgba(255,255,255,0.78);
$black : #131110;
$blueGradient : linear-gradient(97.05deg , #4066ff  3.76% , #2949c6 100%);
$orangeGradient : linear-gradient(270deg , #ffb978  0% , #ff922d 100%);
$Blue  : #4066ff;
$lightBlue : #eeeeff;
$shadow : 0px 23px 21px -8px rgba(136 , 160 , 255 , 0.25);




