@use "../../styles/variables/colors" as *;
@use "../../styles/variables/mediaQuery" as *;
@use "../../styles/mixins" as *;
.eduction {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
  font-family: "Aref Ruqaa", serif;
  &.dark{
    background-color: #080c14;
    .title{
      color: white;
    }
    .description {
      color: #fff;
      h1 {
       
        p {
          color: #f7f4f4;
        }
      }
    }
    .areas{
      .slider{
        .card{
          .project-title{
            background-color: #111827;
            h1{
              color: #f3f4f6;
            }
          }
        }
      }
    }
  }
  &.light{
    background-color: #fff;
    .title{
      color: #121212;
    }
     .description {
        color: #121212;
        font-weight: 700;

        h1 {
          p {
            color:#000000;
          }
        }
      }
      .areas{
        .slider{
          .card{
            .project-title{
              background-color: #f3f4f6;
              box-shadow:-5px 5px 15px rgba(0, 0, 0, 0.4);
              h1{
                color: black;
                font-weight: 700;
              }
            }
          }
        }
      }
  }
  .title {
    width: 30%;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    margin: 3rem auto 1rem auto;
    &::after {
      content: "";
      position: absolute;
      width: 60%;
      height: 0.3rem;
      background-color: rgb(14, 165, 233);
      top: 50%;
      right: 100%;
      border-radius: 20px;
      transform: translateY(-50%);
    }
    &::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 0.2rem;
      background-color: rgb(14, 165, 233);
      top: 50%;
      left: 100%;
      border-radius: 20px;
      transform: translateY(-50%);
    }
  }

  padding-top: 80px;
  height: 100%;
  .description {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    h1 , h5 {
      text-transform: capitalize;
      span {
        color: $textColor;
      }
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 1rem;
    }
  }
  .areas {
    width: 100%;
    h1 {
      text-transform: capitalize;
      span {
        color: $textColor;
      }
    }
    .slider {
      margin: auto;
      width: 100%;
      overflow: hidden;
      padding: 60px 0;
      .slider_container {
        // gap: 1rem;
        justify-content: center;
        .work-item {
          height: 16rem;
          margin: 50px 0;
          .card {
            border: none;
            outline: 0;
            cursor: pointer;
            transition: 0.5s;
            padding: 0 !important;
            width: 100%;
            height: 100%;
            flex: 0 0 auto;
            border-radius: 12px;
            text-align: center;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            position: relative;
            transform: 0.5s;
            transition: 0.5s;
            &:hover {
              transform: translateY(-3%);
            }
            &:hover .line {
              width: 96%;
            }

            img {
              width: 100%;
              height: 100%;
              border-radius: 12px;
            }
            .project-title {
              position: absolute;
              left: 0;
              width: 96%;
              height: 5rem;
              border-radius: 12px;
              
              margin: auto;
              right: 0;
              bottom: -4rem;
              display: flex;
              justify-content: center;
              align-items: center;
              h1 {
                font-size: 4vmin;
              }
            }
            .line {
              position: absolute;
              left: 0;
              width: 0%;
              height: 0.2rem;
              border-radius: 12px;
              background-color: $blueColor;
              margin: auto;
              right: 0;
              bottom: -4rem;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  button {
    background-color: rgb(169 49 11);
    margin-top: 1rem;
    a {
      color: #fff;
    }
    &:hover {
      background-color: transparent !important;
      border: 2px solid rgb(179, 60, 24) !important;
      a {
        color: rgb(179, 60, 24) !important;
      }
    }
  }
}
